aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
asgiref==3.11.0
attrs==25.4.0
audeer==2.3.1
audiofile==1.5.1
audioop-lts==0.2.2
audmath==1.4.4
autobahn==25.12.2
Automat==25.4.16
cbor2==5.8.0
cffi==2.0.0
channels==4.3.2
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
Django==6.0
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.16.1
frozenlist==1.8.0
gunicorn==23.0.0
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
Markdown==3.10
msgpack==1.1.2
multidict==6.7.0
nodejs-wheel-binaries==24.12.0
numpy==2.4.0
packaging==25.0
propcache==0.4.1
py-ubjson==0.16.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydub==0.25.1
pyOpenSSL==25.3.0
pytubefix==10.3.6
service-identity==24.2.0
sounddevice==0.5.3
soundfile==0.13.1
sqlparse==0.5.5
tqdm==4.67.1
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
ujson==5.11.0
yarl==1.22.0
zope.interface==8.1.1
